.hero-image {
    background-image: url(bg.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content button {
    box-shadow: darkcyan 0 0 17px 4px;
    background-color: rgb(218, 238, 231) !important;
    transition: all 200ms linear;
}

.hero-content button:hover {
    box-shadow: darkcyan 0 0 27px 9px;
    background-color: rgb(244, 255, 251) !important;
    color: darkcyan;
}

.text-justify {
    text-align: justify;
}

h2, h3 {
    margin-bottom: 1em;
}

.scrollable {
    max-height: 30vh;
    overflow-y: auto;
}

#learn p {
    text-align: justify;
}

section:not(:first-of-type) {
    padding: 60px 0;
}

section:nth-child(even) {
    background-color: rgb(247, 248, 248);
}

section#contact {
    background-color: rgb(2, 32, 32);
}

.navbar {
    background-color: rgba(2, 32, 32, 0);
    --bs-bg-opacity: 1;
}

.card img {
    object-fit: cover;
}

@media screen and (min-width: 768px) {

    .card img {
        max-height: 190px;
    }

    .card-body {
        min-height: 310px;
    }
    
}
@media screen and (min-width: 1000px) {

    .card img {
        max-height: 250px;
    }

    .card-body {
        min-height: 240px;
    }
    
}

@media screen and (min-width: 1200px) {

    .card img {
        max-height: 250px;
    }

    .card-body {
        min-height: 220px;
    }
    
}

@media screen and (min-width: 1400px) {

    .card img {
        max-height: 185px;
    }

    .card-body {
        min-height: 185px;
    }
    
}

.barndoor {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}

.door {
    display: flex;
    flex-direction: row;
}

.door div {
    width: 50%;
    background-color: rgb(2, 32, 32);
    transition: all 1500ms ease-in;
}

.barndoor .left,
.barndoor .right
.barndoor .inner {
    background-color: rgb(2, 32, 32);
    height: 100vh;
}

.barndoor .left,
.barndoor .right {
    width: 50%;
}

.barndoor .inner {
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 32, 32);
    transition: all 1500ms ease-in;
    position: relative;
    top: 0;
    left: 0;
}