body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#head {
    background-color: #fb8300;
    width: 100%;
    padding: 40px 0;
    color: white;
    text-align: center;
}

nav ul {
    background-color: #ffb803;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    max-height: 0;
    transition: max-height 0.6s;
    -webkit-transition: max-height 0.6s;
    -ms-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    -o-transition: max-height 0.6s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: #fa9d00;
}

a {
    text-decoration: none;
    color: inherit;
}

#main {
    line-height: 25px;
    font-size: 14px;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}

/* Responzinvi design */
@media screen and (max-width: 580px) {
   nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left;
   } 

   h1 {
    font-size: 25px;
   }

   .responzive_menu {
    display: block;
   }
}

.responzive_menu {
    width: 100%;
    background-color: #e45900;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 0;
    cursor: pointer;
    color: white;
    display: none;
}

.show {
    min-height: 20em;
}